NODE_ENV=production

PG_OCR_DB=ocr_db
PG_OCR_USER=ocr_user
PG_OCR_PASSWORD=ocr_password
PG_URL=postgresql://ocr_user:ocr_password@postgres:5435/ocr_db

REDIS_OCR_PASSWORD=redis_password
REDIS_OCR_USERNAME=ocr
REDIS_OCR_HOST=redis-prod
REDIS_OCR_PORT=6379

AMQP_URL=amqp://ocr:change_me@rabbitmq-prod:5672/ocr

S3_ACCESS_KEY=ocr_prod_access_key
S3_SECRET_KEY=ocr_prod_secret_key
S3_ENDPOINT=http://garage-prod:3900
S3_BUCKET=ocr-prod
S3_REGION=garage
S3_FORCE_PATH_STYLE=true

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_ALLOWED_HOSTS=
RESEND_API_KEY=
RESEND_FROM_EMAIL=no-reply@example.com

OPENAI_API_KEY=

AMQ_SPLIT_PDF_QUEUE=split-pdf-jobs
AMQ_SPLIT_PDF_PREFETCH=5
AMQ_TRANSCRIBE_JPG_QUEUE=transcribe-jpg-jobs
AMQ_TRANSCRIBE_JPG_PREFETCH=5
AMQ_POST_PROCESS_PAGE_QUEUE=post-process-page-jobs
AMQ_POST_PROCESS_PAGE_PREFETCH=5
