NODE_ENV=production

PG_OCR_DB=ocr_db
PG_OCR_USER=ocr_user
PG_OCR_PASSWORD=change_me

REDIS_OCR_PASSWORD=change_me

MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=ocr
MINIO_REGION=us-east-1
MINIO_FORCE_PATH_STYLE=true

BETTER_AUTH_SECRET=change_me
BETTER_AUTH_URL=https://ocr.example.com

RESEND_API_KEY=change_me
RESEND_FROM_EMAIL=no-reply@example.com

AMQ_SPLIT_PDF_QUEUE=split-pdf-jobs
AMQ_SPLIT_PDF_PREFETCH=5
AMQ_TRANSCRIBE_JPG_QUEUE=transcribe-jpg-jobs
AMQ_TRANSCRIBE_JPG_PREFETCH=5
AMQ_POST_PROCESS_PAGE_QUEUE=post-process-page-jobs
AMQ_POST_PROCESS_PAGE_PREFETCH=5

LLM_URL=http://host.docker.internal:11434
LLM_MODEL=qwen2.5vl:7b
LLM_TIMEOUT_MS=900000
